<p class="h2" xmlns="http://www.w3.org/1999/html">Lista Utenti</p>

<table class="table table-bordered">
  <thead class="table-dark">
  <tr>
    <th> Nome</th>
    <th> Cognome</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let utente of listaUtenti ">
    <td>{{utente.firstname}}</td>
    <td>{{utente.lastname}}</td>
    <td>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-primary btn-sm" (click)="dettagliUtente(utente.id)">Dettagli</button>
      <button type="button" class="btn-close" aria-label="Close" (click)="deleteUtente(utente.id)" ></button>
    </div>
    </td>
  </tr>
  </tbody>
</table>
