<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h2 class="navbar-brand" href="#">Promemoria</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="utente" class="nav-link active" aria-current="page" routerLinkActive="Active">Lista Utenti</a>
        </li>
        <li class="nav-item">
          <a routerLink="addutente" class="nav-link" routerLinkActive="Active">Add Utente</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">

    </div>

      <router-outlet></router-outlet>
    </div>
  </div>



