<p class="h3">Crea Utente</p>


<div [hidden]="submitted" style="border-bottom-color: #125699">
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Nome" aria-label="Nome">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Cognome" aria-label="Cognome">
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Crea Utente</button>

  </form>
</div>
